In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9])

In [ ]:
print(numeros)

In [ ]:
edades = pd.Series(dict(gabriel=42, santiago=13, cenelys= 52, majo = 4))
edades

In [ ]:
edades['gabriel']

In [ ]:
numeros2 = pd.Series([1,2,3,4,5,6,7,8,9, None])

In [ ]:
numeros2.count()

In [ ]:
numeros2.sum()

In [ ]:
numeros2.cumsum()

In [ ]:
numeros2.value_counts()

In [ ]:
numeros3 = pd.Series([1,2,3,3,3,3,4,4,4,4,5,6,7,8,8,8,8,9, None])
numeros3.value_counts()

In [ ]:
numeros3.describe()

In [ ]:
numeros4 = pd.Series([1,2,3,3,3,3,4,4,4,4,5,6,7,8,8,8,8,9])
numeros4.apply(lambda x: x * 2 + 1)

In [ ]:
numeros4.apply(lambda x: x * 2 + 1)

In [ ]:
numeros4[numeros4 > 5]

In [ ]:
numeros4.sort_values

In [ ]:
numeros4.sort_index

In [ ]:
numeros5 = pd.Series([1,2,3,None,4,5,6,7,8,9, None])

In [ ]:
numeros5 = numeros5.dropna()
print(numeros5)

# dataframe

In [31]:
dfColesterol = pd.read_csv('colesterol.csv', sep=';',encoding='utf-8',decimal=',')
dfColesterol

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [32]:
dfColesterol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      14 non-null     object
 1   edad        14 non-null     int64
 2   sexo        14 non-null     object
 3   peso        13 non-null     float64
 4   altura      14 non-null     float64
 5   colesterol  13 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 804.0+ bytes

In [33]:
dfColesterol.shape

(14, 6)

In [34]:
dfColesterol.size

84

In [35]:
dfColesterol.describe()

            edad        peso     altura  colesterol
count  14.000000   13.000000  14.000000   13.000000
mean   38.214286   70.923077   1.768571  220.230769
std    15.621379   16.126901   0.115016   39.847948
min    18.000000   51.000000   1.580000  148.000000
25%    24.750000   61.000000   1.705000  194.000000
50%    35.000000   65.000000   1.755000  210.000000
75%    49.750000   78.000000   1.840000  249.000000
max    68.000000  109.000000   1.980000  280.000000